html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: 'Roboto';
  font-weight: 300;
  background-color: #eef3f5;
}

img {
  width: 100%;
}

.tns-outer button {
  display: none;
}

.header {
  padding-top: 2rem;
}

.slider {
  visibility: hidden;
}

.menu_header {
  display: none;
}

.menu_nav {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0 4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu_nav li {
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 2rem 2rem;
}

.menu_nav li a {
  display: block;
  color: #000;
  text-decoration: none;
}

.menu_nav li a::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #009adf;
  -webkit-transform: translateY(10px) scale(0);
          transform: translateY(10px) scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu_nav li a:hover {
  text-decoration: none;
}

.menu_nav li a:hover::after {
  -webkit-transform: translateY(10px) scale(1);
          transform: translateY(10px) scale(1);
}

.sidebar_menu {
  background-color: #fff;
  list-style: none;
  padding: 0;
}

.sidebar_menu li:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #009adf;
}

.sidebar_menu li:hover a {
  color: #fff;
}

.sidebar_menu a {
  display: block;
  padding: 15px 29px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.mainview {
  margin-top: 2rem;
}

.content {
  padding-bottom: 4rem;
}

.content p {
  text-indent: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
}

.content h1 {
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bold;
}

.content h2 {
  padding: 0.5rem 0;
  font-size: 2rem;
}

.content_photo {
  padding-bottom: 2rem;
}

.content_photo img {
  border-radius: 1rem;
}

.footer {
  padding: 2rem;
  background-color: #000;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .menu_header {
    padding: 2rem 2rem;
    background-color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
  }
  .menu_header::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu_header-active::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .menu_nav {
    display: none;
    overflow: hidden;
    -webkit-transition: none;
    transition: none;
  }
  .sidebar {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */